<%- include('partials/header') -%>

<div class="about">
    <h1>About</h1>
    <p>This website is for selling plants and for test only, the creater of this website is a web developer called Abdou Mansouri</p>
</div>


<%- include('partials/footer') -%>