<%- include('partials/header') -%>

<div class="about">
    <h1>About</h1>
    <p>This website is for showing plants, there price and for test only</p>
    <p>You can add your plant product to this website, have fun.</p>
</div>


<%- include('partials/footer') -%>