<%- include('partials/header') -%>

<div class="category-container">
    <div class="plantCategory">
        <img src="https://m.media-amazon.com/images/I/61MvtCqDMIL._AC_UL320_.jpg" alt="Herbs plant">
        <a href="/category/Herbs"><p>Herbs</p></a>
    </div>
    <div class="plantCategory">
        <img src="https://m.media-amazon.com/images/I/510u-OX0UOL._AC_UL320_.jpg" alt="Shrubs plant">
        <a href="/category/Shrubs"><p>Shrubs</p></a>
    </div>
    <div class="plantCategory">
        <img src="https://m.media-amazon.com/images/I/71CKp5ocHGL._AC_UL320_.jpg" alt="Trees plant">
        <a href="/category/Trees"><p>Trees</p></a>
    </div>
    <div class="plantCategory">
        <img src="https://m.media-amazon.com/images/I/714lYoBoT3L._AC_UL320_.jpg" alt="Climber plant">
        <a href="/category/Climbers"><p>Climbers</p></a>
    </div>
    <div class="plantCategory">
        <img src="https://m.media-amazon.com/images/I/717L5t3fnfL._AC_UL320_.jpg" alt="Creepers plant">
        <a href="/category/Creepers"><p>Creepers</p></a>
    </div>
</div>


<%- include('partials/footer') -%>